* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --nav-height: 4vh;
}

body {
  overscroll-behavior: none;
}

main {
  display: grid;
}

nav {
  text-align: center;
  background-color: aliceblue;
  height: var(--nav-height);
  z-index: 999;
}
.statusbar {
  height: 1.5vh;
  transform: translate(-100%, 50%);
  background-color: #70a7b3;
  width: 100%;
  z-index: 999;
  transform: translate(calc(-100% + var(--ratio) * 100%), 0);
}

.container {
  height: calc(200vh - var(--nav-height));
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  perspective: 6px;
}

/* --- SKRIFT --- */
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2.8rem;
  padding-top: 2vw;
  /* text-indent: 6.3vw; */
  color: #b38156;
}
a,
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #24444b;
  line-height: 4.3vh;
  text-decoration: none;
}
a {
  padding: 1.4vw;
}

/* --- INDHOLD --- */
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  scroll-snap-align: start;
  padding: 10vw;
}
.text {
  transform: translateZ(0.3px) translateY(2vh) scale(1);
}

.image {
  padding: 4vw;
  margin-left: 3vw;
  z-index: 111;
  box-shadow: 14px 9px 57px -21px gray;
  position: absolute;
  transform: translateZ(-1px) scale(1.4);
}
.left,
.right {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0;
}
#section1 {
  background-color: #baf3ff;
  scroll-snap-align: center;
}
#section1 .image {
  background-image: url(images/white-wooden-staircase-with-yellow-wall-3802666.jpg);
  background-size: 100%;
  top: 0;
  left: 60vw;
  width: 25vw;
  height: 53vh;
}
#section2 {
  background-color: #d4f7ff;
}
#section2 .image {
  background-image: url(images/woman-in-white-tank-top-3828240.jpg);
  background-size: 100%;
  top: 55vw;
  left: 3vw;
  width: 25vw;
  height: 53vh;
}

#section3 {
  background-color: #d4f7ff;
}
#section3 .image {
  background-image: url(images/woman-wearing-white-dress-walking-on-sand-2029253.jpg);
  background-size: 100%;
  top: 108vw;
  right: 2.5vw;
  align-self: center;
  width: 33vw;
  height: 40vh;
}

#section4,
#section5 {
  background-color: #baf3ff;
}
#section4 .image {
  background-image: url(images/IMG_1091.jpeg);
  background-size: 100%;
  top: 166vw;
  left: 2vw;
  width: 33vw;
  height: 38vh;
}
#section5 {
  flex-flow: column wrap;
}
#section5 .left {
  flex-basis: 100px;
}
.left h1 {
  text-align: center;
}
#sounds {
  display: none;
}
